@import "../../global.scss";

.top-bar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  svg {
    font-size: 1.5rem;
    color: $theme-color;
    background-color: none;
  }

  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    img {
      height: 2.5rem;
      width: 2.5rem;
      object-fit: cover;
      object-position: center;
      border-radius: 100%;
    }

    span {
      @include small-text();
      color: $soft-color;
    }
  }
}
